@import "tailwindcss";

@theme {
  --font-sans: var(--font-user-font-family, var(--font-geist-sans));
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--user-font-family, var(--font-geist-sans)) !important;
}

/* Hide Scrollbars Globally but keep functionality */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animation-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}
